<div class="recipe-generator">
  <h2>Rezeptgenerator</h2>

  <div>
    <label>Zutaten auswählen:</label>
    <div>
      <label *ngFor="let ingredient of availableIngredients">
        <input type="checkbox" [value]="ingredient" (change)="toggleIngredientSelection(ingredient)">
        {{ ingredient }}
      </label>
    </div>
  </div>

  <div>
    <label>Filter:</label>
    <select [(ngModel)]="selectedFilter">
      <option value="Vegan">Vegan</option>
      <option value="Vegetarisch">Vegetarisch</option>
      <option value="Keine Einschränkung">Keine Einschränkung</option>
    </select>
  </div>

  <button (click)="generateRecipe()">Rezept generieren</button>

  <div *ngIf="generatedRecipe" class="recipe-output">
    <pre>{{ generatedRecipe }}</pre>
  </div>
</div>
