# Node
node_modules
npm-debug.log
yarn-error.log
*.log

# Git
.git
.gitignore

# Angular
dist
.angular
out-tsc

# Docker
Dockerfile
docker-compose.yml
docker/

# IDEs and Editors
.idea/
.vscode/
.history/
