# Backend (Node.js)
node_modules/
*.log
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage

# Frontend (Angular)
dist/
tmp/
out-tsc/
.angular/cache

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IntelliJ / WebStorm
.idea/
.vscode/
*.iml

# System Files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.history/

# Environment Files
.env
