.register-container {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #00c37a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #009b5a;
  }
}

.error {
  color: #ff4c4c;
  margin-bottom: 10px;
  text-align: center;
}
