.container {
  padding: 20px;
}

.add-item {
  margin-bottom: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2a2a2a;
  color: #00c37a;
}

tr:hover {
  background-color: rgba(0, 195, 122, 0.1);
}

button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: white;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #009b5a;
  }
}


